{% extends 'base.html' %}
{% block content %}
<strong>
       <div class="mx-3 mt-3"> Student Name: {{name}}</div>
        <div class="mx-3">Roll No: {{uname}}</div> 
</strong>
<br>
<div class="h4 pb-2 mb-4 mx-3 text-primary border-bottom border-3 border-primary">
    Midterm Marks
  </div>
  <table class="mx-3 table table-hover">
    <tr>
        <th>S.No</th><th>Subject</th><th>Mid1</th><th>Mid 2</th>
    </tr>
    <tr><td>1</td><td>Java Programming</td><td>{{m1.Java_Programming_Cse}}</td><td>{{m2.Java_Programming_Cse}}</td>
    <tr><td>2</td><td>Data Structures</td><td>{{m1.Data_Structures_Cse}}</td><td>{{m2.Data_Structures_Cse}}</td>
    <tr><td>3</td><td>Web Technologies</td><td>{{m1.Web_Technologies_Cse}}</td><td>{{m2.Web_Technologies_Cse}}</td>

  </table>
<div class="h4 pb-2 mb-4 mx-3 text-primary border-bottom border-3 border-primary">
    Assignment Questions
  </div>
    {% for assign in assignments %}
    {% if assign.sub != ""%}
      <details style="padding-left:10px;">
            <summary class="text-secondary"><strong>{{assign.sub}}</strong></summary>
            <br>
        <div class="container" style="width:1300px;">
           <div class="row" style="margin-left:160px;">
             <div class="col-10" style="border:2px solid black;"><center>{{assign.sub}}</center></div>
             <div class="col-5" style="border:2px solid black;"><center>Mid1</center>
             Q1:{{assign.q1}}<br>
             Q2:{{assign.q2}}<br>
             Q3:{{assign.q3}}<br>
             Q4:{{assign.q4}}<br>
             Q5:{{assign.q5}}</div>
             <div class="col-5" style="border:2px solid black;">
                <center>Mid2</center>
                Q1:{{assign.q6}}<br>
                Q2:{{assign.q7}}<br>
                Q3:{{assign.q8}}<br>
                Q4:{{assign.q9}}<br>
                Q5:{{assign.q10}}</div>
             </div>
           </div>
         </div>
        </details>
        {% endif %}
{% endfor %}
        <br>
        <div class="h4 pb-2 mb-4 mx-3 text-primary border-bottom border-3 border-primary">
            Time Table
        </div>
        <center>      
        <strong style="margin-left:69vw;">Effective from: {{date}}</strong>
        <table class="table mx-3 table-striped">
            <tr>
                <th>Day</th><th>I</th><th>II</th><th rowspan="7">Break</th><th>III</th><th>IV</th><th rowspan="7">Lunch</th><th>V</th><th>VI</th><th>VII</th>
            </tr>
            {% for x in tt%}
            <tr>
                <td>{{x.Day}}</td><td>{{x.C1}}</td><td>{{x.C2}}</td><td>{{x.C3}}</td><td>{{x.C4}}</td><td>{{x.C5}}</td><td>{{x.C6}}</td><td>{{x.C7}}</td>
            </tr> 
            {% endfor %}
          </table>
        </center>
          <br>
          <br>


          <div class="h4 pb-2 mb-4 mx-3 text-primary border-bottom border-3 border-primary">
            Exam Results
          </div>
       <center>
         <br>
          <div class="progress-stacked" style="width:75%;height:25px;margin-bottom:10px;">
            <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: {{v1}}%;height:25px;">
              <div class="progress-bar bg-danger"></div>
            </div>
            <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width:{{v2}}%;height:25px;">
              <div class="progress-bar bg-secondary"></div>
            </div>
            <div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width:{{v3}}%;height:25px;">
              <div class="progress-bar bg-info"></div>
            </div>
          </div>
          <p style="display:inline-block;position:relative;bottom:38px;font-size:20px;color:black;margin:0px;padding:0px;"><i><b>CGPA: {{avg}}</b></i></p>
  <p>
    <button class="btn btn-primary"type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample" style="width:700px;">
      <strong>B.Tech I-I Semester Results</strong>
    </button>
  </p>
      <div class="collapse collapse-horizontal" id="collapseWidthExample">
          <div class="card card-body" style="width:1000px;">
            <table class="table table-hover">
                <tr>
                    <th>S.No</th>
                    <th>Subject</th>
                    <th>Credits</th>
                    <th>GPA</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>LANM</td>
                    <td>4</td>
                    <td>{{s.LANM}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>EC</td>
                    <td>4</td>
                    <td>{{s.EC}}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>BEEE</td>
                    <td>3</td>
                    <td>{{s.BEEE}}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>PPS</td>
                    <td>3</td>
                    <td>{{s.PPS}}</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>PPS LAB</td>
                    <td>3</td>
                    <td>{{s.PPS_LAB}}</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>EC LAB</td>
                    <td>1.5</td>
                    <td>{{s.EC_LAB}}</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>BEEE LAB</td>
                    <td>1</td>
                    <td>{{s.BEEE_LAB}}</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>IT WORKSHOP</td>
                    <td>1.5</td>
                    <td>{{s.IT_WORKSHOP}}</td>
                </tr>
              </table>
              <strong>
              <p>SGPA : {{sum1}}</p>
              </strong>
        </div>
    </div>
<p style="margin-top:10px;">
    <button class="btn btn-primary"type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2" style="width:700px;">
      <strong>B.Tech I-II Semester Results</strong>
    </button>
  </p>
      <div class="collapse collapse-horizontal" id="collapseWidthExample2">
          <div class="card card-body" style="width:1000px;">
            <table class="table table-hover">
                <tr>
                    <th>S.No</th>
                    <th>Subject</th>
                    <th>Credits</th>
                    <th>GPA</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>ENG</td>
                    <td>3</td>
                    <td>{{s.ENG}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>P&S</td>
                    <td>3</td>
                    <td>{{s.PandS}}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>SCP</td>
                    <td>3</td>
                    <td>{{s.SCP}}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>PYTHON</td>
                    <td>4</td>
                    <td>{{s.PYTHON}}</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>EG</td>
                    <td>4</td>
                    <td>{{s.EG}}</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>ENG LAB</td>
                    <td>1</td>
                    <td>{{s.ENG_LAB}}</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>SCP LAB</td>
                    <td>1</td>
                    <td>{{s.SCP_LAB}}</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>PYTHON LAB</td>
                    <td>2</td>
                    <td>{{s.PYTHON_LAB}}</td>
                </tr>
              </table>
              <strong>
              <p>SGPA : {{sum2}}</p>
              </strong>
        </div>
    </div>

    
<p style="margin-top:10px;">
    <button class="btn btn-primary"type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3" aria-expanded="false" aria-controls="collapseWidthExample3" style="width:700px;">
      <strong>B.Tech II-I Semester Results</strong>
    </button>
  </p>
      <div class="collapse collapse-horizontal" id="collapseWidthExample3">
          <div class="card card-body" style="width:1000px;">
            <table class="table table-hover">
                <tr>
                    <th>S.No</th>
                    <th>Subject</th>
                    <th>Credits</th>
                    <th>GPA</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>DM</td>
                    <td>3</td>
                    <td>{{s.DM}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>COA</td>
                    <td>3</td>
                    <td>{{s.COA}}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>DS</td>
                    <td>3</td>
                    <td>{{s.DS}}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>JAVA</td>
                    <td>3</td>
                    <td>{{s.JAVA}}</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>OS</td>
                    <td>3</td>
                    <td>{{s.OS}}</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>DS LAB</td>
                    <td>1.5</td>
                    <td>{{s.DS_LAB}}</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>JAVA LAB</td>
                    <td>1.5</td>
                    <td>{{s.JAVA_LAB}}</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>OS LAB</td>
                    <td>2</td>
                    <td>{{s.OS_LAB}}</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>GS</td>
                    <td>0</td>
                    <td>{{s.GS}}</td>
                </tr>
              </table>
              <strong>
              <p>SGPA : {{sum3}}</p>
              </strong>
        </div>
    </div>


    
<p style="margin-top:10px;">
    <button class="btn btn-primary"type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample4" aria-expanded="false" aria-controls="collapseWidthExample4" style="width:700px;">
      <strong>B.Tech II-II Semester Results</strong>
    </button>
  </p>
      <div class="collapse collapse-horizontal" id="collapseWidthExample4">
          <div class="card card-body" style="width:1000px;">
            <table class="table table-hover">
                <tr>
                    <th>S.No</th>
                    <th>Subject</th>
                    <th>Credits</th>
                    <th>GPA</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>ASOT</td>
                    <td>3</td>
                    <td>{{s.ASOT}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>DBMS</td>
                    <td>3</td>
                    <td>{{s.DBMS}}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>WT</td>
                    <td>3</td>
                    <td>{{s.WT}}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>DAA</td>
                    <td>3</td>
                    <td>{{s.DAA}}</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>CC</td>
                    <td>3</td>
                    <td>{{s.CC}}</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>DBMS LAB</td>
                    <td>2</td>
                    <td>{{s.DBMS_LAB}}</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>WT LAB</td>
                    <td>1.5</td>
                    <td>{{s.WT_LAB}}</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>DAA LAB</td>
                    <td>1.5</td>
                    <td>{{s.DAA_LAB}}</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>ES</td>
                    <td>0</td>
                    <td>{{s.ES}}</td>
                </tr>
              </table>
              <strong>
              <p>SGPA : {{sum4}}</p>
              </strong>
        </div>
    </div>
</center>






{% endblock %}