{% extends 'admin.html'%}
{% block content%}
   
<div class="h4 pb-2 mt-3 mx-1 text-primary border-bottom border-3 border-primary">
    User LoginDetails
</div>
   <table class="table mx-5 my-3" style="width:900px;">
    <tr class="text-black">
       <th>S.No</th> <th>Name</th><th>Username</th><th>Usertype</th><th>Department</th>
    </tr>
    {% for user in lg%}
    {% if user.username != ""%}
    <tr>
        <td>{{forloop.counter0}}</td><td>{{user.name}}</td><td>{{user.username}}</td><td>{{user.usertype}}</td><td>{{user.dept}}</td><td>
            <a href="{% url 'edituser' pk=user.username %}"><img src="../static/img/edit.gif" style="height:25px;"></td></a>
            <td><a href="{% url 'deleteuser' pk=user.username %}"><img src="../static/img/icons8-trash.gif" style="height:25px;"></td></a>
    </tr>
    {% endif%}
    {% endfor%}
   {% if adduser == 'yes' %}
   <form action='/adduserdetails' method='post'>
    {% csrf_token%}
   <td>{{count}}</td>
   <td><input type="text" class="form-control border-2 border-black" style="height:30px;" name="name"></td>
   <td><input type="text" class="form-control border-2 border-black" style="height:30px;" name="username"></td>
   <td>
    <select class="form-control form-control-sm" name="usertype"style="width:100px;">
        <option >Usertype &#x25BC;</option>
        <option value="Faculty">Faculty</option>
        <option value="Student">Student</option>
    </select>
    </td>
    <td>
    <select class="form-control form-control-sm" name="dept" style="width:130px;">
        <option >Department &#x25BC;</option>
        <option value="Cse">Cse</option>
        <option value="Java_Programming_Cse">Java Programming</option>
        <option value="Web_Technologies_Cse">Web Technologies</option>
        <option value="Data_Structures_Cse">Data Structures</option>
    </select>
</td>
<td><button><img src="../static/img/icons8-checkmark.gif"></button></td>
</form>
     {% endif %}
   </table>
   <center>
   <a href="/adduserdetails">
   <button class="btn btn-primary">Add Users</button>
   </a>
</center>
{% endblock%}