{% extends 'admin.html'%}


{% block sty%}
{% comment %} .a{
  margin-left:100px;
  float:bottom-left;
} {% endcomment %}
img{
  width:25px;
}
.search {
  margin:10px;
  width: 100%;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 100%;
  border: 3px solid #0d6efd;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #ccc;
}
.searchTerm:focus{
  color: #0d6efd;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #0d6efd;
  background: #0d6efd;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.wrap{
  width: 80vw;
}
.chat-window{
  padding:0px;
  border:1px solid #ccc;
  border-radius:20px;
}
.chat-window::-webkit-scrollbar {
  width: 0px;
}
.th{
  text-align:center;
  height:50px;
  background-color:#e7e7e7;  
}
{%endblock%}

{% block media%}
.outer{
  width:100vw;
  overflow-x:scroll;
}
table{
  width:800px;
}
{% endblock%}

{% block content%}
   <center>
    {% if messages %}
{% for message in messages%}
   <center>
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert" style="width:1200px;position:relative;color:black;top:30px;">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</center>
{% endfor%}
{% endif %}
<center>
  <h2 class="fw-bold text-success text-decoration-underline">UserLogin Details</h2>
  <a href="/adduserdetails" class="">
    <button class="btn btn-secondary">Add Users</button>
  </a>
</center>
<form action='/addusers' method='post'>
  {% csrf_token%}
  <div class="wrap">
    <div class="search">
      <input type="text" name="query" class="searchTerm" value="{{queryy}}" placeholder="Search By Name,Username,Usertype etc..">
      <button type="submit" class="searchButton">
        <img src="../static/img/icons8-send-96.png">
      </button>
  </div>
  </div>
</form>
<div class="outer">
<table class="table tabee border-2 table-bordered">
  <tr class="text-black th">
    <th>S.No</th> <th>Name</th><th>Username</th><th>Usertype</th><th>Department</th><th>Edit</th><th>Delete</th>
  </tr>
    {% for user in lg%}
    {% if user.username != ""%}
    <tr>
        <td>{{forloop.counter}}</td><td>{{user.name}}</td><td>{{user.username}}</td><td>{{user.usertype}}</td><td>{{user.dept}}</td><td>
            <a href="{% url 'edituser' pk=user.username %}"><img src="../static/img/edit.gif" style="height:25px;"></td></a>
            <td><a href="{% url 'deleteuser' pk=user.username %}"><img src="../static/img/icons8-trash.gif" style="height:25px;"></td></a>
    </tr>
    {% endif%}
    {% endfor%}
   {% if adduser == 'yes' %}
   <form action='/adduserdetails' method='post'>
    {% csrf_token%}
   <td>{{count}}</td>
   <td><input type="text" class="form-control border-2 border-black" style="height:30px;" name="name"></td>
   <td><input type="text" class="form-control border-2 border-black" style="height:30px;" name="username"></td>
   <td>
    <select class="form-control form-control-sm" name="usertype"style="width:100px;">
        <option disabled selected>Usertype &#x25BC;</option>
        <option value="Faculty">Faculty</option>
        <option value="Student">Student</option>
    </select>
    </td>
    <td>
    <select class="form-control form-control-sm" name="dept" style="width:130px;">
        <option disabled selected>Department &#x25BC;</option>
        <option value="Cse">Cse</option>
        <option value="Java_Programming_Cse">Java Programming</option>
        <option value="Web_Technologies_Cse">Web Technologies</option>
        <option value="Data_Structures_Cse">Data Structures</option>
    </select>
</td>
<td><button><img src="../static/img/icons8-checkmark.gif"></button></td>
</form>
{% endif %}
</table>
</div>
</center>
<script>
    a=document.getElementById('userlogin')
    a.style.backgroundColor="#f2f2f2";
  </script> 
{% endblock%}