{% extends 'base.html' %}
{% block content %}
<p style="margin-top:10px; display:inline-block" class=" mx-3">
<strong>
    Student Name: {{name}} <br>
    Roll No: {{uname}} 
</strong>
  </p> 
<br>
<center>
    <p class="" style="display:inline-block;margin-bottom:5px;font-style:italic;">
        <b>Attendance Progress</b>
      </p>
        <p style="display:inline-block;position:relative;top:30px;right:110px;font-size:20px;color:black;margin:0px;padding:0px;"><i><b>{{percentage}}%</b></i></p>
<div class="progress-stacked" style="width:75%;height:25px;margin-bottom:10px;border: 1px solid black">
    <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: {{v1}}%;height:25px;">
      {% if v1 < 40 %}
      <div class="progress-bar bg-danger"></div>
      {% elif v1 < 70 %}
      <div class="progress-bar bg-warning"></div>
      {% elif v1 >= 70%}
      <div class="progress-bar bg-success"></div>
      {% endif %}
    </div>
  </div> 
  <strong class="text-success">{{msg}}</strong>
  <br>
  <div class="mx-2 my-5 midd cont" style="border-radius:20px;">
<table class="table mx-3 my-2 table-hover tab">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th>Subject</th>
        <th>Classes Present</th>
        <th>Total Classes</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <td>1</td>
        <td>DM</td>
        <td>{{b.DM}}</td>
        <td>{{a.DM_TOTAL}}</td>
      </tr>
      <tr>
        <td>2</td>
        <td>CNS</td>
        <td>{{b.CNS}}</td>
        <td>{{a.CNS_TOTAL}}</td>
      </tr>
      <tr>
        <td>3</td>
        <td>EEA</td>
        <td>{{b.EEA}}</td>
        <td>{{a.EEA_TOTAL}}</td>
      </tr>
      <tr>
        <td>4</td>
        <td>GB</td>
        <td>{{b.GB}}</td>
        <td>{{a.GB_TOTAL}}</td>
      </tr>
      <tr>
        <td>5</td>
        <td>CD</td>
        <td>{{b.CD}}</td>
        <td>{{a.CD_TOTAL}}</td>
      </tr>
      <tr>
        <td>6</td>
        <td>QA</td>
        <td>{{b.QA}}</td>
        <td>{{a.QA_TOTAL}}</td>
      </tr>
      <tr>
        <td>7</td>
        <td>DM LAB</td>
        <td>{{b.DM_LAB}}</td>
        <td>{{a.DM_LAB_TOTAL}}</td>
      </tr>
      <tr>
        <td>8</td>
        <td>CD LAB</td>
        <td>{{b.CD_LAB}}</td>
        <td>{{a.CD_LAB_TOTAL}}</td>
      </tr>
      <tr>
        <td>9</td>
        <td>ENG</td>
        <td>{{b.ENG_LAB}}</td>
        <td>{{a.ENG_LAB_TOTAL}}</td>
      </tr>
    </tbody>
  </table>
</div>
  {%   if v3 < 10 %}
   <p class="text-warning" style="font-size:150%"><strong><i>Your Attendance is below 75%.Please Contact Hod</i></strong></p>
   {% endif%}
</center>

<script>
  a=document.getElementById('attendance')
  a.style.backgroundColor="#f2f2f2";
</script>
   {% endblock %}