{% extends 'base.html' %}
{% block media%}
.boxx{
  dsiplay:block;
  width:80vw;
  overflow-x:auto;
}
textarea{
  width:100px;
}
{%endblock%}
{% block content %}
{% if val == 1%}
<center>
  <div class="toast show align-items-center text-bg-primary" role="alert" aria-live="assertive" aria-atomic="true" style="width:800px;margin-top:15px;">
    <div class="d-flex">
      <div class="toast-body">
        Success!! Your Message has been sent.
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</center>
{% endif %}
  <br>
  <form action='/contactus' method='post'>
    {% csrf_token %}
  <div class="mb-3 row mx-3" style="width:90vw;">
    <span class="" style="width:90vw">Username</span>
    <div class="col-sm-10" style="margin-top:2px;">
        <strong style="display:inline;color:#0d6efd;width:90vw">{{uname}}</strong>
    </div>
    <label class="col-sm-2 col-form-label" style="width:90vw">Student Name</label>
    <div class="col-sm-10" style="margin-top:2px;">
      <strong style="display:inline;color:#0d6efd;width:90vw;">{{name}}</strong>
    </div>
    <p for="exampleFormControlTextarea1" class="form-label my-3" style="display:block;"><b>Enter Your Message</b></p><br>
      <div class="mb-3 boxx">
        <textarea class="form-control m-0" id="exampleFormControlTextarea1" name="text" rows="3" style="width:700px;height:200px;border:2px solid grey;color:#black;" placeholder="Start Writing From Here....."></textarea>
      </div>
    <div class="col-auto" style="">
    </div>
  </div>
  <center><input type="submit" style="background-color:#FF2E63;" class="btn mb-3"></center>
</form>

{% comment %} {{text}} {% endcomment %}

<script>
  a=document.getElementById('contactus')
  a.style.backgroundColor="#f2f2f2";
</script>
  {% endblock%}