{% extends 'base2.html' %}
{% block content%}

<div class="jumbotron" style="background-color:#fff;height:500px;">
    <div class="container">
        <h2 class="text-dark" style="position:relative;left:40px;top:50px;">Welcome to <strong class="text-primary" style="display:inline;">Saketh's Faculty Portal</strong></h2>
      <h3 class="text-dark" style="position:relative;left:40px;top:50px;">Hello, <strong class="text-primary" style="display:inline;">{{fac.name}}</strong></h3>
      <h5 style="position:relative;left:40px;top:50px;width:360px;" class="text-dark"><i>"A good education can change Anyone. A good teacher can change Everything."</i></h5> <br>
      <h6 style="position:relative;left:40px;top:50px;" class="text-dark">Always feel free to reach out Students<a class="btn btn-primary btn-lg mx-2" href="#" role="button">Contact &raquo;</a></h6>
    </div>
    <img src="../static/img/facultyy.png" style="position:relative;width:300px;bottom:220px;left:900px;">
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row mt-5"  style="position:relative;left:40px;">
      <div class="col-md-4 mx-5" style="width:250px;height:300px;border-radius:10px;background-color:#fff;position:relative;bottom:160px;border:1px solid gray;">
        <h2 class="m-3">Assignments</h2>
        <p class="m-3">Practice is the best form of learning. One of the way is to give assignments to the students,Yes you heard it right.Click here to share Assigments</p>
        <p><a class="btn btn-primary mx-3" href="/assignments" role="button">Assigments &raquo;</a></p>
      </div>
      <div class="col-md-4 mx-5" style="height:300px;width:260px;border-radius:10px;background-color:#fff;position:relative;bottom:160px;border:1px solid gray;">
        <h2 class="m-3">Marks</h2>
        <p class="m-3">Every Student is Afraid of Exams,later they Attend it. Marks are symbol of students performance in Academics,So go and give them marks in your subject.</p>
        <p class=><a class="btn mx-3 btn-primary" href="/marks" role="button">Marks &raquo;</a></p>
      </div>
      <div class="col-md-4 mx-5" style="height:300px;width:250px;border-radius:10px;background-color:#fff;position:relative;bottom:160px;border:1px solid gray;">
        <h2 class="m-3">Offday</h2>
        <p class="m-3">Time is So Unpredictable,we may get sudden works which aren't in our Control. So feel free to take a leave ,DM us the reason here</p>
        <p class="m-3"><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> 

{% endblock %}