{% extends 'base.html' %}
{% block content %}

<div class="jumbotron" style="background-color:black;height:500px;">
    <div class="container">
        <h2 class="text-white" style="position:relative;left:40px;top:50px;">Welcome to <strong class="text-primary" style="display:inline;">Saketh's Student Portal</strong></h2>
      <h3 class="text-white" style="position:relative;left:40px;top:50px;">Hello, <strong class="text-primary" style="display:inline;">{{name}}</strong></h3>
      <h5 style="position:relative;left:40px;top:50px;width:360px;" class="text-white"><i>"A good education can change Anyone. A good teacher can change Everything."</i></h5> <br>
      <h6 style="position:relative;left:40px;top:50px;" class="text-white">Always feel free to reach us out<a class="btn btn-primary btn-lg mx-2" href="/contactus" role="button">Contact &raquo;</a></h6>
    </div>
    <img src="../static/img/icons8-student-96.png" style="position:relative;width:330px;bottom:220px;left:900px;">
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row mt-5"  style="position:relative;left:40px;">
      <div class="col-md-4 text-white mx-5" style="width:270px;height:300px;border-radius:10px;background-color:black;position:relative;bottom:160px;border:1px solid gray;">
        <h2 class="m-3">Academics</h2>
        <p class="m-3">Confidence is reason for many Great Achievements.When you Score good marks in Exams it boosts your confidence,check your performance here</p>
        <p><a class="btn btn-primary mx-3" href="/academics" role="button">Academics &raquo;</a></p>
      </div>
      <div class="col-md-4 text-white mx-5" style="height:300px;width:270px;border-radius:10px;background-color:black;position:relative;bottom:160px;border:1px solid gray;">
        <h2 class="m-3">Attendance</h2>
        <p class="m-3">Attendance is most overrated thing in Engineering,but coming regular to college can improve your knowledge.Check your Attendance here</p>
        <p class=><a class="btn mx-3 btn-primary" href="/attendance" role="button">Attendance &raquo;</a></p>
      </div>
      <div class="col-md-4 text-white mx-5" style="height:300px;width:250px;border-radius:10px;background-color:black;position:relative;bottom:160px;border:1px solid gray;">
        <h2 class="m-3">Offday</h2>
        <p class="m-3">Time is So Unpredictable,we may get sudden works which aren't in our Control. So feel free to take a leave ,DM us the reason here</p>
        <p class="m-3"><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> 
{% endblock %}