{% extends 'admin.html'%}
{% block style%}
<style>
    .aa {
        width:258px;
        margin:10px;
        background: transparent;
        position: relative;
        left:300px;
        padding: 12px 15px;
        display: flex;
        align-items: center;
        font-size: 17px;
        font-weight: 600;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid rgb(40, 144, 241);
        border-radius: 25px;
        outline: none;
        overflow: hidden;
        color: rgb(40, 144, 241);
        transition: color 0.3s 0.1s ease-out;
        text-align: center;
      }
      
      .aa span {
        margin: 10px;
      }
      
      .aa::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        content: '';
        border-radius: 50%;
        display: block;
        width: 20em;
        height: 20em;
        left: -5em;
        text-align: center;
        transition: box-shadow 0.5s ease-out;
        z-index: -1;
      }
      
      .aa:hover {
        color: #fff;
        border: 1px solid #ff2e63;
      }
      
      .aa:hover::before {
        box-shadow: inset 0 0 0 10em #ff2e63;
      }
       
</style>
{% endblock%}
{%block content%}
<a href="/sem1" class="aa">Semester-1</a>
<a href="/sem2" class="aa">Semester-2</a>
<a href="/sem3" class="aa">Semester-3</a>
<a href="/sem4" class="aa">Semester-4</a>
{% endblock%}