{% extends 'base2.html'%}
{% block content%}
<center>
<button class="btn btn-primary mt-3" style="width:400px;height:45px;font-size:23px;"><b>{{sub}}</b></button><br>
</center>
<center>
    <div class="btn-group" style="margin-top:10px;">
<form action="/marks" method="post">
    {% csrf_token %}
        <table class="table text-white" style="width:1300px;">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Reg No.</th>
                <th scope="col" style="padding-left:70px;">Mid 1</th>
                <th scope="col" style="padding-left:70px;">Mid 2</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for student in students%}
                <tr>
                    <th scope="row">{{student.name}}</th>
                    <td>{{student.username}}</td>
                    <td><input type="number" name="{{student.username}}" class="text-primary bg-black text-white" style="border:2px solid white;border-radius:10px;"></td>
                    <td><input type="number" name="{{student.name}}"class="text-primary bg-black text-white" style="border:2px solid white;border-radius:10px;"></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
        <br>
        <input type="submit" class="btn btn-primary" style="margin-right:35px;">
    </form>
</center>

{% endblock%}