{% extends 'base2.html'%}
{% block content%}
<center>
<button class="btn btn-primary mt-3" style="width:400px;height:45px;font-size:23px;"><b>{{sub}}</b></button><br>
</center>
<center>
    <div class="btn-group" style="margin-top:10px;">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Exam Type
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/midmarks1">Mid1</a></li>
          <li><a class="dropdown-item" href="/midmarks2">Mid2</a></li>
        </ul>
      </div>
    </center>      

{% block marks %}
{% endblock%}
{% endblock%}