{% extends 'assignments.html' %}
{% block d %}
<br>
<form action='/mid1' method='post'>
    {% csrf_token %}
<center>
<div class="mb-3" style="width:800px;">
    <label for="exampleFormControlInput1" class="form-label"><strong>Subject</strong></label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="subject" placeholder="Subject">
</div>
  <div class="mb-3" style="width:800px;">
    <label for="exampleFormControlTextarea1" class="form-label"><strong>Assignment Questions</strong></label><br>
    <input type="textfield" class="my-1" style="width:800px;border:1px solid black;height:40px;border-radius:10px;" name="q1" placeholder="1st Question"><br>
    <input type="textfield" class="my-1" style="width:800px;border:1px solid black;height:40px;border-radius:10px;" name="q2" placeholder="2nd Question"><br>
    <input type="textfield" class="my-1" style="width:800px;border:1px solid black;height:40px;border-radius:10px;" name="q3" placeholder="3rd Question"><br>
    <input type="textfield" class="my-1" style="width:800px;border:1px solid black;height:40px;border-radius:10px;" name="q4" placeholder="4th Question"><br>
    <input type="textfield" class="my-1" style="width:800px;border:1px solid black;height:40px;border-radius:10px;" name="q5" placeholder="5th Question">
</div>
  <input type="submit" class="btn btn-primary">
</center>
</form>
{% endblock %}