{% extends 'marks.html'%}
{% block marks%}
<center>
<form action="/midmarks2" method="post">
    {% csrf_token %}
        <table class="table" style="width:1300px;">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Reg No.</th>
                <th scope="col" style="padding-left:70px;">Mid 2</th>
                {% comment %} <th scope="col" style="padding-left:70px;">Mid 2</th> {% endcomment %}
              </tr>
            </thead>
            <tbody class="table-group-divider">
                {% if sub == "Java_Programming_Cse"%}
                        {% for student in students%}
                        <tr>
                            <th scope="row">{{student}}</th>
                            <td>{{student}}</td>
                            <td><input type="number" name="{{student.name}}" value="{{student.Java_Programming_Cse}}"class="text-black" style="border:2px solid black;border-radius:10px;"></td>
                        </tr>
                        {% endfor %}
                {% elif sub == "Data_Structures_Cse" %}
                        {% for student in students%}
                        <tr>
                            <th scope="row">{{student}}</th>
                            <td>{{student}}</td>
                            <td><input type="number" name="{{student.name}}" value="{{student.Data_Structures_Cse}}"class="text-black" style="border:2px solid black;border-radius:10px;"></td>
                        </tr>
                        {% endfor %}
                {% elif sub == "Web_Technologies_Cse"%}
                        {% for student in students%}
                        <tr>
                            <th scope="row">{{student}}</th>
                            <td>{{student}}</td>
                            <td><input type="number" name="{{student.name}}" value="{{student.Web_Technologies_Cse}}"class="text-primary bg-black text-white" style="border:2px solid white;border-radius:10px;"></td>
                        </tr>
                        {% endfor %}
                {% endif %}
            </tbody>
          </table>
        </div>
        <br>
        <input type="submit" class="btn btn-primary" style="margin-right:35px;">
    </form>
</center>
    {% endblock%}