{% extends 'admin.html'%}
{% block content %}
<center>
<div class="btn-group">
    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#ff2e63;">
      Students
    </button>
    <ul class="dropdown-menu">
        {% for user in users%}
        <li><a class="dropdown-item" href="{% url 'edituserresults' pk=user.username sem=sem %}">{{user.username}}</a></li>
        {% endfor%}
    </ul>
</div>
</center>
{% block cont%}
<table class="table table-hover">
    <tr>
        <th>S.No</th><th>Subject</th><th>Credits</th>
    </tr>
    {%for sub in subjects%}
    <tr><td>{{forloop.counter}}</td>
        {% for s in sub%}
        <td>{{s}}</td>
        {% endfor%}
    </tr>
    {%endfor%}
</table>

<script>
    a=document.getElementById('results')
    a.style.backgroundColor="#f2f2f2";
  </script>
{%endblock%}
{% endblock%}