{% extends 'base.html' %}
{% block style%}
.bt{
    width:40vw;
}
.tabl{
    box-shadow: rgba(99,99,99,.2)2px 2px 10px 10px;
    border-radius:10px;
    width:600px;
}
table{
    {% comment %} width:1000px; {% endcomment %}
    border-radius:10px;
}
{%endblock%}
{% block media%}
.bt{
    width:400px;
}
.tabl{
    width:400px;
    overflow-x:scroll;
}
.tablee{
    width:600px;
    margin:3px;
}
{% endblock%}
{% block content%}
<strong>
       <div class="mx-3 mt-3"> Student Name: <span style="color:#0d6efd;">{{name}}</span></div>
        <div class="mx-3">Roll No: <span style="color:#0d6efd;">{{uname}}</span></div> 
</strong>
<br>

<div class="containerr">
<div id="barchart_material" class="div1" style="height:400px;width:600px;color:red;"></div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawChart);
  
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Semester', 'SGPA', 'CGPA'],
            ['1', {{sum1}}, {{avg1}}],
            ['2', {{sum2}}, {{avg2}}],
            ['3', {{sum3}}, {{avg3}}],
            ['4', {{sum4}}, {{avg}}]
          ]);
  
          var options = {
            backgroundColor:'#fff',
            'chartArea': {
                'backgroundColor': {
                    'fill': '#fff',
                    'opacity': 100
                 },
             },
            vAxis:
            {
              gridlines:{
                color: 'transparent'
               },
               ticks:[0,1,2,3,4,5,6,7,8,9,10],
               textStyle: {
                 color: '#1a237e',
                 fontSize: 15,
                 bold: true
               }
            },
            hAxis: {
              gridlines:{
                  color: 'transparent'
              },
            title: 'GPA',
            ticks:[0,1,2,3,4,5,6,7,8,9,10],
            textStyle: {
              color: '#1a237e',
              fontSize: 15,
              bold: true
            }
          },
          colors:['#ff2e63','green'],
            bars: 'horizontal' // Required for Material Bar Charts.
          };
  
          var chart = new google.charts.Bar(document.getElementById('barchart_material'));
  
          chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
<div class="div2">
    <center>
        <br>
         <div class="progress-stacked bar" style="background-color: #ffffff;">
           <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: {{v1}}%;height:25px;">
               {% if v1 < 40%}
               <div class="progress-bar bg-danger"></div>
               {% elif v1 < 70 %}
               <div class="progress-bar bg-warning"></div>
               {% elif v1 >= 70%}
               <div class="progress-bar bg-success"></div>
               {% endif %}
           </div>
         </div>
         <p style="display:inline-block;position:relative;bottom:38px;font-size:20px;color:black;margin:0px;padding:0px;"><i><b>CGPA: {{avg}}</b></i></p>
 <p>
   <button class="btn bt" style="background-color:#FF2E63;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample" style="width:700px;">
     <strong>B.Tech I-I Semester Results</strong>
   </button>
 </p>
     <div class="collapse collapse-horizontal" id="collapseWidthExample">
         <div class="tabl" style="background-color:#fff;">
           <table class="table tablee table-hover p-0" style="background-color:#fff;">
               <tr>
                   <th>S.No</th>
                   <th>Subject</th>
                   <th>Credits</th>
                   <th>GPA</th>
               </tr>
               <tr>
                   <td>1</td>
                   <td>LANM</td>
                   <td>{{s.c1}}</td>
                   <td>{{s.LANM}}</td>
               </tr>
               <tr>
                   <td>2</td>
                   <td>EC</td>
                   <td>{{s.c2}}</td>
                   <td>{{s.EC}}</td>
               </tr>
               <tr>
                   <td>3</td>
                   <td>BEEE</td>
                   <td>{{s.c3}}</td>
                   <td>{{s.BEEE}}</td>
               </tr>
               <tr>
                   <td>4</td>
                   <td>PPS</td>
                   <td>{{s.c4}}</td>
                   <td>{{s.PPS}}</td>
               </tr>
               <tr>
                   <td>5</td>
                   <td>PPS LAB</td>
                   <td>{{s.c5}}</td>
                   <td>{{s.PPS_LAB}}</td>
               </tr>
               <tr>
                   <td>6</td>
                   <td>EC LAB</td>
                   <td>{{s.c6}}</td>
                   <td>{{s.EC_LAB}}</td>
               </tr>
               <tr>
                   <td>7</td>
                   <td>BEEE LAB</td>
                   <td>{{s.c7}}</td>
                   <td>{{s.BEEE_LAB}}</td>
               </tr>
               <tr>
                   <td>8</td>
                   <td>IT WORKSHOP</td>
                   <td>{{s.c8}}</td>
                   <td>{{s.IT_WORKSHOP}}</td>
               </tr>
             </table>
             <strong>
             <p class="">SGPA : {{sum1}}</p>
             </strong>
       </div>
   </div>
<p style="margin-top:10px;">
   <button class="btn bt" style="background-color:FF2E63;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample2" style="width:700px;">
     <strong>B.Tech I-II Semester Results</strong>
   </button>
 </p>
     <div class="collapse collapse-horizontal" id="collapseWidthExample2">
        <div class="tabl" style="background-color:#fff;">
          <table class="table tablee table-hover p-0" style="background-color:#fff;">
               <tr>
                   <th>S.No</th>
                   <th>Subject</th>
                   <th>Credits</th>
                   <th>GPA</th>
               </tr>
               <tr>
                   <td>1</td>
                   <td>ENG</td>
                   <td>{{s.c9}}</td>
                   <td>{{s.ENG}}</td>
               </tr>
               <tr>
                   <td>2</td>
                   <td>P&S</td>
                   <td>{{s.c10}}</td>
                   <td>{{s.PandS}}</td>
               </tr>
               <tr>
                   <td>3</td>
                   <td>SCP</td>
                   <td>{{s.c11}}</td>
                   <td>{{s.SCP}}</td>
               </tr>
               <tr>
                   <td>4</td>
                   <td>PYTHON</td>
                   <td>{{s.c12}}</td>
                   <td>{{s.PYTHON}}</td>
               </tr>
               <tr>
                   <td>5</td>
                   <td>EG</td>
                   <td>{{s.c13}}</td>
                   <td>{{s.EG}}</td>
               </tr>
               <tr>
                   <td>6</td>
                   <td>ENG LAB</td>
                   <td>{{s.c14}}</td>
                   <td>{{s.ENG_LAB}}</td>
               </tr>
               <tr>
                   <td>7</td>
                   <td>SCP LAB</td>
                   <td>{{s.c15}}</td>
                   <td>{{s.SCP_LAB}}</td>
               </tr>
               <tr>
                   <td>8</td>
                   <td>PYTHON LAB</td>
                   <td>{{s.c16}}</td>
                   <td>{{s.PYTHON_LAB}}</td>
               </tr>
             </table>
             <strong>
             <p class="">SGPA : {{sum2}}</p>
             </strong>
       </div>
   </div>

   
<p style="margin-top:10px;">
   <button class="btn bt" style="background-color:FF2E63;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3" aria-expanded="false" aria-controls="collapseWidthExample3" style="width:700px;">
     <strong>B.Tech II-I Semester Results</strong>
   </button>
 </p>
     <div class="collapse collapse-horizontal" id="collapseWidthExample3">
        <div class="tabl" style="background-color:#fff;">
          <table class="table tablee table-hover p-0" style="background-color:#fff;">
               <tr>
                   <th>S.No</th>
                   <th>Subject</th>
                   <th>Credits</th>
                   <th>GPA</th>
               </tr>
               <tr>
                   <td>1</td>
                   <td>DM</td>
                   <td>{{s.c17}}</td>
                   <td>{{s.DM}}</td>
               </tr>
               <tr>
                   <td>2</td>
                   <td>COA</td>
                   <td>{{s.c18}}</td>
                   <td>{{s.COA}}</td>
               </tr>
               <tr>
                   <td>3</td>
                   <td>DS</td>
                   <td>{{s.c19}}</td>
                   <td>{{s.DS}}</td>
               </tr>
               <tr>
                   <td>4</td>
                   <td>JAVA</td>
                   <td>{{s.c20}}</td>
                   <td>{{s.JAVA}}</td>
               </tr>
               <tr>
                   <td>5</td>
                   <td>OS</td>
                   <td>{{s.c21}}</td>
                   <td>{{s.OS}}</td>
               </tr>
               <tr>
                   <td>6</td>
                   <td>DS LAB</td>
                   <td>{{s.c22}}</td>
                   <td>{{s.DS_LAB}}</td>
               </tr>
               <tr>
                   <td>7</td>
                   <td>JAVA LAB</td>
                   <td>{{s.c23}}</td>
                   <td>{{s.JAVA_LAB}}</td>
               </tr>
               <tr>
                   <td>8</td>
                   <td>OS LAB</td>
                   <td>{{s.c24}}</td>
                   <td>{{s.OS_LAB}}</td>
               </tr>
               <tr>
                   <td>9</td>
                   <td>GS</td>
                   <td>{{s.c25}}</td>
                   <td>{{s.GS}}</td>
               </tr>
             </table>
             <strong>
             <p class="">SGPA : {{sum3}}</p>
             </strong>
       </div>
   </div>


   
<p style="margin-top:10px;">
   <button class="btn bt" style="background-color:FF2E63;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample4" aria-expanded="false" aria-controls="collapseWidthExample4" style="width:700px;">
     <strong>B.Tech II-II Semester Results</strong>
   </button>
 </p>
     <div class="collapse collapse-horizontal" id="collapseWidthExample4">
         <div class="tabl" style="background-color:#fff;">
           <table class="table  tablee table-hover p-0" style="background-color:#fff;">
               <tr>
                   <th>S.No</th>
                   <th>Subject</th>
                   <th>Credits</th>
                   <th>GPA</th>
               </tr>
               <tr>
                   <td>1</td>
                   <td>ASOT</td>
                   <td>{{s.c26}}</td>
                   <td>{{s.ASOT}}</td>
               </tr>
               <tr>
                   <td>2</td>
                   <td>DBMS</td>
                   <td>{{s.c27}}</td>
                   <td>{{s.DBMS}}</td>
               </tr>
               <tr>
                   <td>3</td>
                   <td>WT</td>
                   <td>{{s.c28}}</td>
                   <td>{{s.WT}}</td>
               </tr>
               <tr>
                   <td>4</td>
                   <td>DAA</td>
                   <td>{{s.c29}}</td>
                   <td>{{s.DAA}}</td>
               </tr>
               <tr>
                   <td>5</td>
                   <td>CC</td>
                   <td>{{s.c30}}</td>
                   <td>{{s.CC}}</td>
               </tr>
               <tr>
                   <td>6</td>
                   <td>DBMS LAB</td>
                   <td>{{s.c31}}</td>
                   <td>{{s.DBMS_LAB}}</td>
               </tr>
               <tr>
                   <td>7</td>
                   <td>WT LAB</td>
                   <td>{{s.c32}}</td>
                   <td>{{s.WT_LAB}}</td>
               </tr>
               <tr>
                   <td>8</td>
                   <td>DAA LAB</td>
                   <td>{{s.c33}}</td>
                   <td>{{s.DAA_LAB}}</td>
               </tr>
               <tr>
                   <td>9</td>
                   <td>ES</td>
                   <td>{{s.c34}}</td>
                   <td>{{s.ES}}</td>
               </tr>
             </table>
             <strong>
             <p>SGPA : {{sum4}}</p>
             </strong>
       </div>
    </div>
    <strong class="text-danger"style="font-size:70%;"><b>The CGPA bar is for all 4 Semesters</b></strong>
</div>
</div>
</center>

<script>
    a=document.getElementById('sem')
    b=document.getElementById('academics')
    a.style.backgroundColor="#f2f2f2";
    b.style.backgroundColor="#f2f2f2";
  </script>
{% endblock%}